{% extends "../_shared/base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/container/assets/skins/sam/container.css">
{% endblock %}

{% block first_column %}
    <div id="mainCol" class="fix"><a name="main"></a>
    {% for article in articles %}
        {% include '../_shared/article_excerpt.html' %}
    {% endfor %}
    {% if not articles %}
        <div class="post">
            <div class="postMeta">
                <span class="date">No articles</span>
            </div>
            <h2>Welcome to Bloog</h2>
            <div class="entry">
                <p>
                    You are logged in as administrator, {{ user.nickname }}.
                </p>
                <p>
                    This is the default page for Bloog, a simple RESTful tool for making a blog/homepage on Google App Engine.
                </p>
            </div>
        </div>
    {% endif %}
        <div id="more_reading">
            <p>Stay tuned...</p>
        </div>
    </div>
{% endblock %}

{% block bottom_html %}
<div id="myDialog">
    <div class="hd">Rich Text Entry</div>
    <div class="bd">
        <form id="dlgForm" name="dlgForm" method="post" action="/">
            <br />
            <label for="title">Title:</label>&nbsp;<input type="text" name="title" size="50" />
            <p>&nbsp;</p>
            <textarea name="body" id="body" cols="50" rows="10">
                <strong>Please enter your text here.</strong>
                <p>It will be sent to the server on submit.</p>
            </textarea>
            <input type="hidden" name="format" value="html">
        </form>
    </div>
</div>

<div id="responseDialog">
    <div class="hd">Response from Bloog</div>
    <div class="bd">
        <div id="bloogResponse"></div>
    </div>
</div>

{% endblock %}

{% block javascript_code %}
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/animation/animation-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/connection/connection-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/container/container-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/menu/menu-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/element/element-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/utilities/utilities.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/button/button-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/editor/editor-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/selector/selector-beta-min.js"></script>
<script type="text/javascript" src="/static/js/ojay/js-class.js"></script>
<script type="text/javascript" src="/static/js/ojay/core.js"></script>

<script type="text/javascript">
    YAHOO.namespace("bloog");
    function showRTE(e, isArticle) {
        var hdr = $('div#myDialog div.hd');
        if (isArticle) {
            hdr.setContent('Submit Article');
        } else {
            hdr.setContent('Submit Blog Entry');
            var today = new Date();
            var month = today.getMonth() + 1;
            var year = today.getFullYear();
            document.getElementById("dlgForm").action = "/" + year + "/" + month;
        }
        YAHOO.bloog.myDialog.show();
    }
    function initAdmin() {
        var handleCancel = function() {
            this.cancel();
        }
        var handleSubmit = function() {
            YAHOO.bloog.editor.saveHTML();
            this.submit();
        }
        YAHOO.namespace("bloog");
        YAHOO.bloog.myDialog = new YAHOO.widget.Dialog("myDialog", {
                width: "550px",
                fixedcenter: true,
                visible: false,
                modal: true,
                constraintoviewpoint: true,
                buttons: [ { text: "Submit", handler: handleSubmit, isDefault:true },
                           { text: "Cancel", handler: handleCancel } ]
            });
        YAHOO.bloog.editor = new YAHOO.widget.Editor('body', {
            height: '300px',
            width: '500px',
            dompath: true,
            animate: true
        })
        YAHOO.bloog.editor.render();
        
        YAHOO.bloog.myDialog.validate = function() {
            var data = this.getData();
            if (data.title == "") {
                alert("Please enter a title for this post.");
                return false;
            }
            return true;
        }
        var handleSuccess = function(o) {
            var response = o.responseText;
            response = response.split("<!")[0];
            $('div#bloogResponse').setContent(response);
            YAHOO.bloog.respDialog.show();
        };
        var handleFailure = function(o) {
            alert("Submission failed: " + o.status);
        };
        YAHOO.bloog.myDialog.callback = { success: handleSuccess, failure: handleFailure };
        YAHOO.bloog.myDialog.render();
        
        var forceUpdate = function(o) {
            window.location = "/";
        }
        YAHOO.bloog.respDialog = new YAHOO.widget.Dialog("responseDialog", {
                fixedcenter: true,
                visible: false,
                modal: true,
                constraintoviewpoint: true,
                close: false,
                buttons: [ { text: "Home Page", handler: forceUpdate, isDefault: true }]
            });
        YAHOO.bloog.respDialog.render();

        YAHOO.util.Event.addListener("newarticle", "click", showRTE, true);
        YAHOO.util.Event.addListener("newblog", "click", showRTE, false);      
    }
    YAHOO.util.Event.onDOMReady(initAdmin);
</script>
{% endblock %}