{% extends "base.html" %}
{% block first_column %}
<div id="twoCol" class="fix">
    <a name="main"></a>
    <div class="post">
        <div class="postMeta">
            <span class="date">Admin</span>
        </div>
        <h2>Caching Stats</h2>
        <div class="entry">
            <p>
                The following data is from memcache:
            </p>
            <table id="timingstats">
                <tr>
                    <th>Stat</th>
                    <th>Value</th>
                    <th>Explanation</th>
                </tr>
                <tr>
                    <td>Hits</td>
                    <td>{{ stats.hits }}</td>
                    <td>Number of cache get requests resulting in a cache hit.</td>
                </tr>
                <tr>
                    <td>Misses</td>
                    <td>{{ stats.misses }}</td>
                    <td>Number of cache get requests resulting in a cache miss.</td>
                </tr>
                <tr>
                    <td>Byte Hits</td>
                    <td>{{ stats.byte_hits }}</td>
                    <td>Sum of bytes transferred on get requests. Rolls over to zero on overflow.</td>
                </tr>
                <tr>
                    <td>Items</td>
                    <td>{{ stats.items }}</td>
                    <td>Number of key/value pairs in the cache.</td>
                </tr>
                <tr>
                    <td>Bytes</td>
                    <td>{{ stats.bytes }}</td>
                    <td>Total size of all items in the cache.</td>
                </tr>
                <tr>
                    <td>Oldest Age</td>
                    <td>{{ stats.oldest_item_age }}</td>
                    <td>How long in seconds since the oldest item in the cache was accessed.</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block third_column %}
{% endblock %}

{% block bottom_body %}
{% endblock %}