<div id="tertCol">
    <div id="elseWhere">
        <ul id="imgLinks">
            <li>
                <a href="http://web.meetup.com/116/?track=i3/mu_kxqazfu2yy">
                    <img class="anyheight" src="/static/images/meetup-bw.png" 
                         alt="Silicon Valley Google AppEngine Developers Meetup" />
                </a>
            </li>
        </ul>
    </div><!-- close #imgLinks -->
    <div id="amazon">
        <OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab" id="Player_3a384201-5621-4eaf-8d86-29cbdd776d06"  WIDTH="160px" HEIGHT="600px"> 
            <PARAM NAME="movie" VALUE="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fbilkat-20%2F8010%2F3a384201-5621-4eaf-8d86-29cbdd776d06&Operation=GetDisplayTemplate">
            <PARAM NAME="quality" VALUE="high">
            <PARAM NAME="bgcolor" VALUE="#FFFFFF">
            <PARAM NAME="allowscriptaccess" VALUE="always">
            <embed src="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fbilkat-20%2F8010%2F3a384201-5621-4eaf-8d86-29cbdd776d06&Operation=GetDisplayTemplate" id="Player_3a384201-5621-4eaf-8d86-29cbdd776d06" quality="high" bgcolor="#ffffff" name="Player_3a384201-5621-4eaf-8d86-29cbdd776d06" allowscriptaccess="always"  type="application/x-shockwave-flash" align="middle" height="600px" width="160px">
            </embed>
        </OBJECT>
        <NOSCRIPT>
            <A HREF="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fbilkat-20%2F8010%2F3a384201-5621-4eaf-8d86-29cbdd776d06&Operation=NoScript">Amazon.com Widgets</A>
        </NOSCRIPT>
    </div>
</div><!-- close #tertCol -->
