{% extends "base.html" %}

{% block first_column %}
    <div id="mainCol" class="fix"><a name="main"></a>
    {% if articles %}
        <div class="post">
            <h2>Articles found under '{{ search_term }}'</h2>
        </div>
        {% for article in articles %}
            {% include '../article_excerpt.html' %}
        {% endfor %}
        {% include 'pager.html' %}
    {% else %}
        <div class="post">
            <div class="postMeta"><span class="date">No Matches</span></div>
            <h2>No articles found for '{{ search_term }}'</h2>
            <div class="entry">
                <p>Please try your search again.</p> 
                <p>If you feel that you should be staring at something a little more concrete, 
                    try one of the tags or browse the archives.</p>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
