<li id="comment-{{ comment.key }}" class="alt item indent{{ comment.get_indentation }}">
    <div class="fix">
        <p class="comment_meta">
            <span class="subject">{{ comment.title|default:""}}</span> by 
            <span class="user">{{ comment.name|default:"" }}</span>
            <span class="date">({{ comment.published.date }})</span>
        </p>
        <div class="comment_text">
            {{ comment.body }}
        </div>
        <p class="post_meta">
            <a class="replybtn" title="Reply to Comment" href="#comment-{{ comment.key }}">Reply</a>
        </p>
    </div>
</li>
